// 清除浮动
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
  height: 0;
  visibility: hidden;
}

// 单行溢出
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行溢出
.ellipsis--multi {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

// --- table layout
.filter-container {
  display: flex;
  gap: 16px;
  .filter-item {
    width: 240px;
  }
}

.list-container {
  margin-block-start: 16px;
}

.pagination-container {
  margin-block-start: 16px;
  .el-pagination {
    justify-content: flex-end;
  }
}
// --- table layout

// --- form layout
.el-form-item.actions {
  .el-form-item__content {
    justify-content: flex-end;
  }
}
// --- form layout
