// https://meyerweb.com/eric/tools/css/reset/

*,
::before,
::after {
  box-sizing: border-box;
  border: 0px solid var(--el-border-color);
}

html {
  font-family: var(--el-font-family);
  font-size: var(--el-font-size-base);
}

body {
  margin: 0;
}

::-ms-reveal {
  display: none;
}
