.vat-layout {
  --vat-sidebar-width: calc(256px + 1px);
  --vat-header-height: calc(56px + 1px);
  --vat-layout-bg: linear-gradient(#ffffff, #f5f5f5 28%);
  --vat-border-color: rgba(5, 5, 5, 0.06);

  &.is-sidebar--collapse {
    --vat-sidebar-width: calc(56px + 16px + 1px);
  }
}

.vat-layout-bg {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: var(--vat-layout-bg);
}

.vat-layout {
  display: flex;
  min-height: 100%;
  background-color: transparent;
}

.vat-sidebar {
  flex: 0 0 var(--vat-sidebar-width);
  width: var(--vat-sidebar-width);
  min-width: var(--vat-sidebar-width);
  max-width: var(--vat-sidebar-width);
  transition: 0.2s;

  &.vat-sidebar--fixed {
    position: fixed;
    inset-block-start: var(--vat-header-height);
    inset-inline-start: 0;
    z-index: 100;
    width: var(--vat-sidebar-width);
    height: calc(100% - var(--vat-header-height));
    border-inline-end: 1px solid var(--vat-border-color);
  }
}

.vat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  min-height: 0;
  background-color: transparent;
}

.vat-header {
  height: var(--vat-header-height);
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.2s;

  &.vat-header--fixed {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 100;
    width: 100%;
    height: var(--vat-header-height);
    border-block-end: 1px solid var(--vat-border-color);
    backdrop-filter: blur(8px);
  }
}

.vat-content {
  width: 100%;
  padding: 32px 40px;
}

.vat-footer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: center;
  padding: 28px;
  .vat-footer__title {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--el-text-color-regular);
  }
  .vat-footer__copyright {
  }
}
